*{
	margin: 0px;
	padding: 0px;
	font-family: Cinzel;
}

/*Parallax effect*/
.parallax {
	display: table;
    background-image: url("images/rzeka3.jpg");
    height: 550px;
	width:100%;
	text-align:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Editing heading Nad Narwią*/
.parallax p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	opacity: 0.9;
}

/* Top navigation bar - Remove margins and padding from the list, and add a white background color */
ul.topnav{
	list-style-type: none;
	background: white;
	margin: 0px;
	padding: 0px;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

/* Float the list items side by side */
ul.topnav li{
	float: right
}

/* Style the links inside the list items */
ul.topnav li a{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #E8EAF0}

/*Main content of the web after parallax photo/Zapoznaj się z naszym miejscem*/
.main_page p{
	font-size: 25px;
	padding-top: 120px;
	padding-bottom: 90px;
	text-align: center;
	text-decoration: none;
}

/*Editing three main photo*/
#images{
	margin-left: auto;
	margin-right: auto;
}

#images span.img_okolica .text{
	position: absolute;
	color: black;
	font-size: 50px;
	left: 0;
}
	
#images span.img_okolica{
	position: relative;
	z-index: 2;
}

#images span.img_atrakcje .text{
	position: absolute;
	color: black;
	font-size: 50px;
	left: 0;
}

#images span.img_atrakcje{
	position: relative;
	z-index: 2;
}

#images span.img_pokoje .text{
	position: absolute;
	color: black;
	font-size: 50px;
	left: 0;
}

#images span.img_pokoje{
	position: relative;
	z-index: 2;
}

/*Hover effect on images*/
#images span.img_okolica:hover{
	opacity: 0.7;
}

#images span.img_atrakcje:hover{
	opacity: 0.7;
}

#images span.img_pokoje:hover{
	opacity: 0.7;
}

a:link {
	color: black;
	text-decoration: none;
}	
a:visited {
	color:black;
	text-decoration: none;
}
a:hover {
	color:black;
	text-decoration: none;
}
a:active {
	color:black;
	text-decoration: none;
}
/*Contact form*/

input[type=text]{
	width: 40%;
	padding: 8px 16px;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:10px;
	box-sizing: border-box;
	resize:none;
}

textarea{
	width: 40%;
	height: 150px;
	padding: 12px 20px;
	margin-top:20px;
	box-sizing: border-box;
	border: 1px solid grey;
	resize:none;
}

textarea:hover{
	border: 1px solid black;
}

button{
	background-color: white;
    border: 1px solid grey;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-top:20px;
}

button:hover{
	background:#E8EAF0;
}

#contact_page{
	margin-left: 50px;
}























