*{
	margin: 0px;
	padding: 0px;
	font-family: Cinzel;
}

/*Header*/
.parallax {
	display: table;
    background-image: url("../images/atrakcje.jpg");
    height: 550px;
	width:100%;
	text-align:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;

	
}

/* Top navigation bar - Remove margins and padding from the list, and add a white background color */
ul.topnav{
	list-style-type: none;
	background: white;
	margin: 0px;
	padding: 0px;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

/* Float the list items side by side */
ul.topnav li{
	float: right
}

/* Style the links inside the list items */
ul.topnav li a{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #E8EAF0}

